@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

/* Aplicando marge nas definições gerais da página */
* {
  margin: 0;
}

/* Aplicando style na lista */
ul {
  list-style: none;
}


/* Aplicando flexbox, maegem e bordas */
.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 35vh;
  border-radius: 10px;
  padding-right: 2rem;
  padding-left: 1rem;
}


/* Aplicando cursor */
.item:hover {
  cursor: pointer;
}


/* Aplicando flexbox, tamanho e fonte */
.titulo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 50px;
}

/* Aplicando fonte, tamanho e uma transição */
.item p {
  font-size: 30px;
  padding: 0px 20px 20px 20px;
  transition: opacity 200ms ease-out, height 400ms ease-out;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

/* Aplicando tamanho, opacidade e visibilidade*/
.item-active p {
  visibility: visible;
  height: 520px;
  opacity: 0.8;
}


/* Aplicando tamanho, cor e display */
.conteudo{
  padding: 0.6rem;
  display: none;
  color: #000000;
  width: 100%;
  text-align: justify;
}

/* Aplicando tamanho, cor e alinhamento */
.pergunta{
  padding: 0.6rem;
  width: 100%;
  color: #ffffff;
  text-align: justify;
}

/* Aplicando bordas e cor */
.prim{
  border-radius: 10px 10px 1px 1px;
  background-color: #145374;
  
}

/* Aplicando bordas e cor */
.seg{
  border-radius: 1px 1px 10px 10px;
  background-color: #1877f2
}

/* Aplicando bordas e cor */
#conteudo2{
  border-radius: 1px 1px 10px 10px;
  background-color: #057dc2;
}

/* Aplicando cor */
#conteudo1{
  background-color: #83e3cd;
}