@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

/* Aplicando fonte */
body{
    font-family: 'Quicksand', sans-serif;
}

/* Aplicando flexbox e espaçamento */
.integrantes{
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}


/* Aplicando espaçamento */
.pessoas{
    padding-right: 20px;
}


/* Definindo fonte */
.pessoas h3{
    font-size: 17px;
}


/* Aplicando flexbox */
.div_fellipy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Aplicando flexbox */
.span_integrantes{
    display: flex;
    flex-direction: row;
}

/* h2 da Equipe (Subtitulo) */
.h2_equipe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

/* Aplicadno flexboz */
.participante{
    display: flex;
    flex-direction:row;
}


/* Definindo tamanho e margem */
#icone{
    width: 7.5%;
    height: 7.5%;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* Definindo espaçamento e flexbox */
#sobre{
    padding-left: 2%;
    padding-right: 2%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}


/* Defininfo tamanho */
.insta{
    width: 10%;
    height: 10%;
}

/* Definindo tamanho e espaçamento */
img{
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}