@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to top right, #057dc2, #83e3cd);
}

.div_cadastro{
    min-height: 60%;
    width: 27%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
    border-radius: 10px; 
    box-shadow: 
    -1px -2px 25px 8px #000000;
}

.formulario{
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
}

form .nome{
    display: flex;
    flex-direction: column;
}

label[for="nome"],
label[for="email"],
label[for="senha"],
label[for="idade"],
label[for="confirmasenha"]{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 3px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]{
    padding: 3%;
    font-size: 18px;
    width: 94%;
    margin-bottom: 1.5%;
    border: 1px solid black;
    outline: 0;
}

div[class="jogabilidade"],
div[class="profissa"],
div[class="amad"],
div[class="inic"]{
    margin-bottom: 3%;
}

button{
    margin-top: 25px;
    margin-bottom: 10%;
    padding: 11px;
    cursor: pointer;
    border: 1px solid black;    
    background-color: #057dc2;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

a{
    font-size: 15px;
    color: blue;
    margin-top: 5px;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 35px;
}

img{
    position: absolute;
    width: 28%;
    height: 25%;
    left: 30px;
    top: 10px;
}


header{
    height: 10%;
}

.erro {
    display: none;
    color: #f58181;
}

.campos {
    margin-top: 4%;
}