@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Quicksand:wght@600&display=swap');


/* Denindo margem, fonte e preenchimento na definição geral da página */
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Aplicando cor */
body{
    background: linear-gradient(to top right, #057dc2, #83e3cd);
}


/* Aplicando tamanho, cor, margem e bordas */
.divLogin{
    width: 27%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 12%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: -1px -2px 25px 8px #000000;
}


/* Aplicando flexbox, margem e fonte */
form{
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 1%;
    font-size: 20px;
}


/* Aplicando fonte,margem e flexbox */
label{
    font-size: 20px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
}


/* Definindo tamanho, borda e margem */
input{
    padding: 3%;
    font-size: 18px;
    width: 94%;
    margin-bottom: 5.5%;
    border: 1px solid black;
    outline: 0;
}


/* Definindo margem */
.senha{
    margin-bottom: 5%;
}


/* Definindo margem */
.senha input{
    margin-bottom: 2%;
}


/* Aplicando flexbox */
.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Definindo tamanho, margem, borda, cor e fonte */
.log button{
    width: 45%;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #057dc2;
    color: #fff;
    font-size: 15px;
    border: 1px solid black;
}

/* Definindo fonte e tirando decoração do link */
a{
    text-decoration: none;
    font-size: 15px;
}

/* Aplicando flexbox e espaçamento */
h1{
    display: flex;
    justify-content: center;
    padding-top: 6%;
}


/* Definin posição */
img{
    position: absolute;
    width: 18%;
    height: 15%;
    left: 50px;
    top: 50px;
}


/* Definindo altura */
header{
    height: 10%;
}


/* Aplicando display e cor */
.erro{
    display: none;
    color: #f58181;
}