@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

/* Integrantes */
.integrantes{
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.pessoas{
    padding-right: 20px;
}

.pessoas h3{
    font-size: 17px;
}


/* Div Fellipy */
.div_fellipy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span_integrantes{
    display: flex;
    flex-direction: row;
}

/* h2 da Equipe (Subtitulo) */
.h2_equipe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}


.participante{
    display: flex;
    flex-direction:row;
}

#icone{
    width: 7.5%;
    height: 7.5%;
    margin-right: 3px;
    margin-bottom: 5px;
}

#sobre{
    padding-left: 2%;
    padding-right: 2%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.insta{
    width: 10%;
    height: 10%;
}

img{
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}