@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
/* 
:root {
  font-family: "EB Garamond", serif;

  color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

*/

* {
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  width: 1500px;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  min-height: 100vh;
  border-radius: 10px;
}

.item:hover {
  cursor: pointer;
}

.titulo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 50px;
}

.item p {
  font-size: 30px;
  padding: 0px 20px 20px 20px;
  transition: opacity 200ms ease-out, height 400ms ease-out;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.item-active p {
  visibility: visible;
  height: 520px;
  opacity: 0.8;
}

.conteudo{
  display: none;
  color: #000000;
  width: 70%;
}

.pergunta{
  width: 70%;
  color: #000000;
}

.prim{
  border-radius: 10px 10px 1px 1px;
  background-color: #145374;
  
}

.seg{
  border-radius: 1px 1px 10px 10px;
  background-color: #1877f2
}

#conteudo2{
  border-radius: 1px 1px 10px 10px;
  background-color: #057dc2;
}

#conteudo1{
  background-color: #83e3cd;
}